/* Start Global Rules  */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root{
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 80px;
    --main-padding-bottom: 80px;
    --section-background: #ececec;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Cairo" , sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.main-title{
    text-align: center;
    margin-bottom: 60px;
}

.main-title h2{
    position: relative;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 700;
    margin: 0 auto;
    padding: 0;
    color: var(--main-color);
}

.main-title p{
    font-size: 18px;
    color: #777;
    padding: 0 10px;
    font-weight: 700;
    padding: 0 10px;
}

/* End Global Rules */


/* Start Header */

.header{
    box-shadow: 0px 0px 20px #3333335e;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container .logo {
    max-height: 64px;
}

.header .container .links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .container .links li a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68px;
    position: relative;
    color: black;
    padding: 0 30px;
    transition: var(--main-transition);
    overflow: hidden;
    font-size: 18px;
}

.header .container .links li a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left:-100%; 
    transition: var(--main-transition);
}

.header .container .links li a:hover::before{
    left: 0;
}

.header .container .links li a:hover{
    background-color: #fafafa;
    color: var(--main-color);
}

.header .container .icon a{
    font-size: 18px;
    color: var(--main-color);
    font-weight: 600;
    padding: 0px 25px;
    cursor: pointer;
    border: 2px solid var(--main-color);
    border-radius: 20px;
    transition: var(--main-transition);
    margin-right: 10px;
}

.header .container .icon a:hover{
    color: white;
    background-color: var(--main-color);
}

/* End Header */

/* Start Landing */
.landing{
    padding-top: 40px;
    padding-bottom: var(--main-padding-bottom);
}

.landing .container{

}

.landing .container .top{
    text-align: center;
}

.landing .container .top h2{
    font-size: 46px;
    word-spacing: 2px;
    letter-spacing: 4px;
    color: var(--main-color);
    text-transform: uppercase;
    margin: 0;
}

.landing .container .top h3{
    margin: 0;
    color: #777;
}

.landing .container .sold{
    margin: 40px 0;
}

.landing .container .sold{
    display: grid;
    grid-template-columns: repeat( auto-fill , minmax( 300px , 1fr ) );
    gap: 20px;
}

.landing .container .sold .box{
    box-shadow: 0px 0px 20px #999;
    border-radius: 10px;
    padding: 10px 15px;
    overflow: hidden;
    transition: var(--main-transition);
}

.landing .container .sold .box:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 25px #777;
}

.landing .container .sold .box img{
    max-width: 100%;
}

.landing .container .sold .box .info{

}

.landing .container .sold .box .info h3{
    font-size: 22px;
    transition: var(--main-transition);
}

.landing .container .sold .box:hover h3{
    color: var(--main-color);
}

.landing .container .sold .box .info p{
    font-size: 17px;
    color: #666;
    line-height: 1.5;
}

.landing .container .sold a{
    display: block;
    width: fit-content;
    font-size: 18px;
    font-weight: 600;
    color: var(--main-color);
    padding: 5px 25px;
    border: 2px solid var(--main-color);
    border-radius: 25px;
    margin: 0 auto 15px;
    transition: var(--main-transition);
}

.landing .container .sold .box a:hover{
    color: white;
    background-color: var(--main-color);
}


.landing .container .bottom{
    text-align: center;
    margin-top: 60px;
}

.landing .container .bottom h2{
    font-size: 45px;
    letter-spacing: 2px;
}

.landing .container .bottom a{
    display: block;
    width: fit-content;
    font-size: 24px;
    font-weight: 600;
    color: var(--main-color);
    text-align: center;
    margin: 0 auto;
    padding: 8px 25px;
    border: 2px solid var(--main-color);
    border-radius: 25px;
    transition: var(--main-transition);
}

.landing .container .bottom a:hover{
    color: white;
    background-color: var(--main-color);
}

/* End Landing */

/* Start About */

.about{
    background-color: var(--main-color);
    padding: 40px 0;
}

.about .main-title h2{
    color: white;
}

.about .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.about .container .text{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.7;
    color: white;
}

.about .container img{
    max-width: 100%;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px #777;
}

/* End About */

/* Start Benefits */

.benefits{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.benefits .container{
    display: grid;
    grid-template-columns: repeat( auto-fill , minmax( 300px , 1fr ) );
    gap: 20px;
    row-gap: 40px;
}

.benefits .container .box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    padding: 25px 20px;
    transition: var(--main-transition);
}

.benefits .container .box:hover{
    transform: translateY(-10px);
}

.benefits .container .box img{
    width: 78px;
}

.benefits .container .box h3{
    font-size: 24px;
    margin: 0;
    text-transform: uppercase;
    transition: var(--main-transition);
}

.benefits .container .box:hover h3{
    color: var(--main-color);
}

.benefits .container .box p{
    text-align: center;
    font-size: 17px;
    color: #777;
    line-height: 1.5;
    margin-top: 0;
}

.benefits .join{
    display: block;
    width: fit-content;
    font-size: 22px;
    font-weight: 600;
    color: var(--main-color);
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    padding: 8px 30px;
    border: 2px solid var(--main-color);
    border-radius: 25px;
    transition: var(--main-transition);
}

.benefits .join:hover{
    color: white;
    background-color: var(--main-color);
}

/* End Benefits */

/* Start vidoe */

.video{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}
.video .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.video .container .text{

}

.video .container .text h2{
    font-size: 32px;
    color: var(--main-color);
}

.video .container .text p{
    font-size: 20px;
    font-weight: 600;
    color: #666;
    line-height: 1.7;
}

.video .container .text a{
    display: block;
    width: fit-content;
    font-size: 22px;
    font-weight: 600;
    padding: 8px 35px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 25px;
    transition: var(--main-transition);
}

.video .container .text a:hover{
    color: white;
    background-color: var(--main-color);
}

.video video{
    width: 55%;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.705);
    border-radius: 8px;
}

/* End vidoe */

/* Start Testimonials */

.testimonials{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--main-color);
}

.testimonials .main-title h2{
    color: white;
}

.testimonials .container{
    display: grid;
    grid-template-columns: repeat( auto-fill , minmax( 280px , 1fr ) );
    gap: 40px;
}

.testimonials .container .box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    background-color: white;
    border-radius: 8px;
}

.testimonials .container .box img{
    width: 90px;
    transform: translate(-20px , -50px);
    border: 10px solid var(--main-color);
    border-radius: 50px;
}

.testimonials .container .text{

}

.testimonials .container .box .text h2{
    margin: 10px 0 0;
    color: var(--main-color);
}

.testimonials .container .box .text h3{
    color: #666;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
}

/* End Testimonials */


/* Start Join Now */

.joinnow{
    padding-top: 40px;
    padding-bottom: 40px;
}

.joinnow .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.joinnow .container h2{
    font-size: 34px;
    margin: 0;
}

.joinnow .container h3{
    color: var(--main-color);
    letter-spacing: 2px;
    font-size: 50px;
    margin: 0;
}

.joinnow .container a{
    display: block;
    width: fit-content;
    font-size: 20px;
    font-weight: 600;
    color: var(--main-color);
    text-align: center;
    padding: 8px 30px;
    border: 2px solid var(--main-color);
    border-radius: 20px;
    transition: var(--main-transition);
}

.joinnow .container a:hover{
    color: white;
    background-color: var(--main-color);
}

/* End Join Now */

/* Start Footer */

.footer{
    background-color: #191919;
    padding-top: var(--main-padding-top);
}

.footer .container{
    display: grid;
    grid-template-columns: repeat( auto-fill , minmax( 260px , 1fr ) );
    gap: 20px;
}

.footer .container .line{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
}

.footer .container .line img{
    width: 260px;
    transform: translateX(-35px);
}

.footer .container .line .social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer .container .line .social i{
    display: inline-flex;
    color: #B9B9B9;
    padding: 10px 15px;
    background-color: #313131;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--main-transition);
}

.footer .container .line .social i:hover{
    color: white;
    background-color: var(--main-color);
}

.footer .container .links{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
}

.footer .container .links h3{
    font-size: 24px;
    margin: 0;
    color: white;
}

.footer .container .links li a{
    display: block;
    width: fit-content;
    font-size: 17px;
    color: #EEE;
    transition: var(--main-transition);
}

.footer .container .links li a:hover{
    color: white;
    transform: translateX(10px);
}

.footer .container .contact{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
}

.footer .container .contact h2{
    color: white;
    font-size: 24px;
    margin: 0;
}

.footer .container .contact a{
    display: block;
    width: 150px;
    padding: 6px 0;
    text-align: center;
    font-size: 17px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 20px;
    transition: var(--main-transition);
}

.footer .container .contact a i{
    margin-right: 5px;
}

.footer .container .contact a:hover{
    color: white;
    background-color: var(--main-color);
}

.footer .container .contact .info{

}

.footer .container .contact .info h3{
    color: white;
}

.footer .container .contact .info p{
    color: #BBB;
}

.footer .copy{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: 40px;
    padding: 25px 0;
    font-size: 18px;
    color: white;
    border-top: 1px solid #EEE;
}

/* End Footer */